.players {
    display: flex; 
    flex-direction: row; 
    -ms-flex-align:center;
    justify-content: space-around;
    z-index: 999; 
    position: absolute;
}

.player {
    height: 40px; 
    width: 40px; 
    background-color: #ed1750;
    cursor: all-scroll;
    padding-top: 6px;
    color: yellow;
    border-radius: 20px;
    border: 1px solid #ffffff;
    margin: 10px;

    span {
        font-size: 14pt;
    }

    p {
        padding-top: 10px;
        color: rgb(40, 22, 206);
        font-size: 8pt;
    }
}

.soccer-body {
    background-repeat: no-repeat;
    background-size: 865px 400px;
    margin: 15px; 
    height: 400px; 
    width: 865px; 
    text-align: center;
    transform: scale(0.9, 0.9);
}

.degrees {
    padding-top: 5px;
    margin-right: 20px;
}