<div class="spacer"></div>
<div id="calcbuttons">
  <div class="row" id="fixitstyle" [ngClass]="{'fixit': isFix}">
    <div class="col-md-6">
      <div class="calc pull-left">
        <table class="table">
          <tr style="text-align: left">
            <td colspan="3">
              <strong>
                <span class="glyphicon glyphicon-cog"></span>
                Options
              </strong>
            </td>
          </tr>
          <tr>
            <td>
              <app-player-by-team></app-player-by-team>
            </td>
            <td>
              <app-soccer-field></app-soccer-field>
            </td>
            <td>
              <app-best-players></app-best-players>
            </td>
          </tr>
          <tr>
            <td colspan="3" style="text-align: center; color: blueviolet;"><h3>Total Players: {{players.length}}</h3></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <app-bid-and-balance-calculation [players]="players"></app-bid-and-balance-calculation>
    </div>
  </div>
</div>