<button class="btn" data-toggle="modal" data-target="#myModalBestTeam">Best Players</button>
<!-- Modal -->
<div class="modal fade" id="myModalBestTeam" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="text-align: center; position: 'relative';">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Best Players</h3>
      </div>
      <div class="modal-body soccer-body">
        
        <div class="best-teams">
          <div class="best team1" id="wrapper-0">
            <h3>Best Team</h3>
            <ul></ul>
          </div>
          <br>
          <div class="best team2" id="wrapper-1">
            <h3>Second Best</h3>
            <ul></ul>
          </div>
          <br>
          <div class="best team3" id="wrapper-2">
            <h3>Third Best</h3>
            <ul></ul>
          </div>
          <div class="best team4" id="wrapper-3">
            <h3>Fourth Best</h3>
            <ul></ul>
          </div>
          <div class="best team5" id="wrapper-4">
            <h3>Fifth Best</h3>
            <ul></ul>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>